<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE-edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="SEUNGJAE"/>
    <meta name="description" content="BOARD2프로젝트 modify페이지">
    <title>Board2_Modify</title>
    <link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>
<form action="bModify" method="POST" enctype="multipart/form-data">
    <table>
        <caption>게시글 수정</caption>
        <input type="hidden" name="bNo" th:value="${board.bNo}">
        <tr>
            <th>작성자</th>
            <td><input type="hidden" name="bWriter" th:value="${board.bWriter}" th:text="${board.bWriter}"></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" name="bTitle" th:placeholder="${board.bTitle}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea rows="20" cols="40" name="bContent" th:placeholder="${board.bContent}"></textarea></td>
        </tr>
        <tr>
            <th>첨부파일</th>
            <td>
                <img th:src="@{/upload/{bFileName}(bFileName=${board.bFileName})}" width="200px">
                <br/><input type="file" name="bFile">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="수정"></td>
        </tr>
    </table>

</form>
</body>
</html>